<% layout("/layouts/boilerplate") %>
  <body>
    <div class="row">
        <div class="col-8 offset-2">
          <br><br>
          <h3>Create a New Listing</h3>
          <form method="POST" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
            <div class="mb-3">
              <label for="title">Title</label>
              <input name="listing[title]" placeholder="enter title" type="text" class="form-control" required/>
              <div class="valid-feedback">
                Title looks good!
              </div>
              <div class="invalid-feedback">
                Please enter valid title!
              </div>
            </div>
            
            <div class="mb-3">
              <label for="description">Description</label>
              <textarea
                name="listing[description]"
                placeholder="enter description"
                class="form-control"
                required
              ></textarea>
              <div class="valid-feedback">
                Nice Discription
              </div>
              <div class="invalid-feedback">
                Please add discription about this!!
              </div>
            </div>
            
            <div class="mb-3">
              <label for="image">Upload Listing Image</label>
              <input
              name="listing[image]"
              type="file"
              class="form-control"
              required
            />
            </div>
            
            <div class="row">
              <div class="mb-3 col-md-4">
                <label for="price">Price</label>
                <input name="listing[price]" placeholder="enter price" type="number" class="form-control" required/>
                <div class="invalid-feedback">
                  Please enter valid Price!
                </div>
              </div>
              
              <div class="mb-3 col-md-8">
                <label for="country">Country</label>
                <input name="listing[country]" placeholder="enter country" type="text" class="form-control" required/>
                <div class="valid-feedback">
                  Nice country
                </div>
                <div class="invalid-feedback">
                  Please enter valid country name!!
                </div>
              </div>
            </div>
          
            <div class="mb-3">
              <label for="location">Location</label>
              <input
              name="listing[location]"
              placeholder="enter location"
              type="text"
              class="form-control"
              required
            />
            <div class="valid-feedback">
              Thsi is an ossam location.
            </div>
            <div class="invalid-feedback">
              Please enter valid location!!
            </div>
            </div>
            <button class="add-btn">Add</button> <br> <br>
          </form>
        </div>
    </div>
  </body>
</html>
